.imageResizerActiveClass {
    cursor: nw-resize !important;
    outline: 1px dashed white !important;
}

.imageResizerChangedClass {
    /* z-index: 300 !important; */
    max-width: none !important;
    max-height: none !important;
}
